:root {
  --background: 289 20% 10%;
  --foreground: 289 5% 90%;
  --card: 289 20% 10%;
  --card-foreground: 289 5% 90%;
  --popover: 289 20% 5%;
  --popover-foreground: 289 5% 90%;
  --primary: 289 100% 36%;
  --primary-foreground: 0 0% 100%;
  --secondary: 289 20% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 251 20% 25%;
  --muted-foreground: 289 5% 60%;
  --accent: 251 20% 25%;
  --accent-foreground: 289 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 289 5% 90%;
  --border: 289 20% 26%;
  --input: 289 20% 26%;
  --ring: 289 100% 36%;
  --radius: 0.5rem;
  }